*{
    margin: 0;
    padding: 0
}
body{
    box-sizing: border-box;
    
   
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height:100vh;
    align-items: center;
}
form{
    width:40%;
    background-color:#7c7c7c4c;
    padding:50px;
}
form input{
    min-height:30px;
    width: 100%;
    
}

select{
    min-height:30px;
    width: 100%;
}
form label{
    font-weight:600;
}
.formContainer{
    margin-top:10px;
}
.radios{
    display: flex;
}
button{
    min-height:30px;
    width:100%;
    margin-top:10px;
    font-weight: 600;
    background-color:green;color: white;
}
button:disabled{
    background-color:rgba(0, 128, 0, 0.132);
    color:gray;
}

.resultContainer{
    width:100%;
    height:100vh;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.result{
    width:400px;
    background-color:#7c7c7c15;
    padding:20px;
}
.result th{
    text-align:left;
}
body{
    text-transform: capitalize;
}
@media (max-width:600px){
    form{
        width:70%;
    }
}